<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>
</head>
<body>

  <h3>Student Registration Form</h3>


  <!-- th:object="${student}" student is the name of model attribute in the controller -->

  <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:

    <select th:field="*{country}">
      <!-- We can loop over the list of countries.
           tempCountry/tempLang is a temp loop variable
           th:value is the value sent during form submission
           th:text is the text displayed to the user.
           th:field is a Binding property on Student object
      -->
      <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>

    <br><br>

    Favorite Programming Language:

    <input type="radio" th:field="*{favoriteLanguage}"
                        th:each="tempLang : ${languages}"
                        th:value="${tempLang}"
                        th:text="${tempLang}" />


    <br><br>

    <!-- When form is submitted, spring MVC will create a new Student instance, and add to the moden then calll
         student.setFirstName(...), student.setLastName(...)
     -->
    <input type="submit" value="Submit"/>

  </form>


</body>
</html>